*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


body{
    font-family: 'Roboto', sans-serif;
    background-image: url(/images/fondo-noche.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    padding-top:60px;
}


/* Estilos del header */

.header{
    display:flex;
    position:fixed;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding:15px;
    background: none;
}

.header .logo-container{
    display:flex;
    align-items: center;
}

.header .logo-container .link-home{
    display:flex;
    align-items: center;
    text-decoration: none;
}


.header .logo-container .logo-img:hover{
    transition:0.5s;
    border-color:cyan;
}

.header .doble-color{
    display:flex;
}
.header .doble-color .logo-text1{
    font-size:23px;
    color:cyan;
    font-weight: bold;
    
}

.header .doble-color .logo-text2{
    font-size:23px;
    color:#fff;
    font-weight: bold;
}

.header .boton-container {
    display:flex;
    justify-content: center;
    align-items: center;   
}


.header .boton-container .nav-toggle{
    width:40px;
    height:40px;
    background:none;
    border:none;
}

.header .boton-container .fa-bars{
    font-size:40px;
    color:#fff;
    cursor:pointer;
    border:none;
}

.header .boton-container .fa-bars:active{
    color:cyan;
}

.header .boton-container .fa-xmark{
    font-size:40px;
    color:#fff;
    cursor:pointer;
    border:none;
}

.close{
    display:none;
}

.close-visible{
    display:block;
}

.open-none{
    display:none;
}


.header .boton-container{
    display:none;
}

.header .nav-menu .link-menu{
    position:relative;
    text-decoration:none;
    color:#fff;
    font-size:20px;
    margin-right:10px;
    padding-top:20px;
    padding-bottom:10px;
    padding-left:5px;
    padding-right:5px;
}

.header .nav-menu .link-menu:hover{
    transition:0.5s;
    color:cyan;
    border-bottom-color: cyan;
    border-bottom-width: 5px;
    border-bottom-style: solid;
  
}

i.fa-house,i.fa-images,i.fa-dollar-sign,i.fa-blog,i.fa-address-book{ 
    margin-right:3px;
    display:none;
}

i.fa-twitter,i.fa-instagram-square,i.fa-behance,i.fa-facebook {
    font-size:25px;
    color:#fff;
    margin-right:8px;
}

i.fa-twitter:hover,i.fa-instagram-square:hover,i.fa-behance:hover,i.fa-facebook:hover {
    transition: 0.5s;
    color:cyan;
    transform:translateY(-3px)
}




/* @media para el header (nav-menu)*/


@media (max-width:800px) {
    .header{
        background:rgba(0, 0, 0, 0.603);
    }

    .header .boton-container{
        display:block;
    }

    .redes-container,.logo-img{
        display:none;
    }

    i.fa-house,i.fa-images,i.fa-dollar-sign,i.fa-blog,i.fa-address-book{ 
        display:inline-block;
    }

    .nav-menu{
        width:60%;
        position:fixed;
        background-color: rgba(0, 0, 0, 0.904);
        display:flex;
        flex-direction:column;
        top:70px;
        right:0;
        overflow-y:auto;
        text-align: center;
        padding:20px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition:500ms all; 
    }

    .nav-menu-visible{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        border-radius: 0 0 20px 20px;
    }

}


/* Secciones del contenido principal*/

/* Section1 1*/


.section-1 h1{
    color:#fff;
    text-align: center;
    width:70%;
    animation: centrar 3s;
    margin:auto;
    margin-top:40px;   
}

.section-1 h1 .illustrator-color{
    color:cyan;
}

.section-1 h1 .bold{
    font-weight: bold;
}




.section-1 h2{
    color:#fff;
    text-align: center;
    width:70%;
    animation: centrar 3s;
    margin:auto;
    margin-top:40px;   
}

.section-1 h2 .illustrator-color{
    color:cyan;
}

.section-1 h2 .bold{
    font-weight: bold;
}



@media (max-width:800px) {
    .section-1 h1{
        width:90%;
    }
    .section-1 h2{
        width:90%;
    }
}

@keyframes centrar {
    0%{transform: translateX(100%);}
    100%{transform: translateX(0%);}
}





