*, *::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

*::before, *::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: sans-serif;
    background-image: url(/css/fondo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    padding-top:60px;
    background-color: rgba(0, 0, 0, 0.418);
}


/* Estilos del header */

.header{
    display:flex;
    position:fixed;
    justify-content: space-between;
    align-items: center;
    width:100%;
    padding:10px;
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom-color: #fff;
    border-bottom-style:solid;
    border-bottom-width:3px;

}

.header .logo-container{
    display:flex;
    align-items: center;
}

.header .logo-container .link-home{
    display:flex;
    align-items: center;
    text-decoration: none;
}

.header .logo-container .logo-img{
    width:35px;
    border-radius:50%;
    margin-right:8px;
    border-color:#fff;
    border-style:solid;
    border-width:2px;
}

.header .logo-container .logo-img:hover{
    transition:0.5s;
    border-color:#FFD700;
}

.header .doble-color{
    display:flex;
}
.header .doble-color .logo-text1{
    font-size:23px;
    color:#FFD700;
}

.header .doble-color .logo-text2{
    font-size:23px;
    color:#fff;
}

.header .boton-container {
    display:flex;
    justify-content: center;
    align-items: center;   
}


.header .boton-container .nav-toggle{
    width:40px;
    height:40px;
    background:none;
    border:none;
}

.header .boton-container .fa-bars{
    font-size:40px;
    color:#fff;
    cursor:pointer;
    border:none;
}

.header .boton-container .fa-xmark{
    font-size:40px;
    color:#fff;
    cursor:pointer;
    border:none;
}

.close{
    display:none;
}

.close-visible{
    display:block;
}

.open-none{
    display:none;
}


.header .boton-container{
    display:none;
}

.header .nav-menu .link-menu{
    position:relative;
    text-decoration:none;
    color:#fff;
    font-size:20px;
    margin-right:10px;
    padding-top:20px;
    padding-bottom:15px;
    padding-left:5px;
    padding-right:5px;
}

.header .nav-menu .link-menu:hover{
    transition:0.5s;
    color:#FFD700;
    border-bottom-color: #FFD700;
    border-bottom-width: 5px;
    border-bottom-style: solid;
  
}

i.fa-house,i.fa-images,i.fa-dollar-sign,i.fa-blog{ 
    margin-right:3px;
    display:none;
}

i.fa-twitter,i.fa-instagram-square,i.fa-behance,i.fa-facebook {
    font-size:25px;
    color:#fff;
    margin-right:8px;
}

i.fa-twitter:hover,i.fa-instagram-square:hover,i.fa-behance:hover,i.fa-facebook:hover {
    transition: 0.5s;
    color:#FFD700;
    transform:translateY(-3px)
}




/* @media para el header (nav-menu)*/



@media (max-width:800px) {
    .header .boton-container{
        display:block;
    }

    .redes-container,.logo-img{
        display:none;
    }

    i.fa-house,i.fa-images,i.fa-dollar-sign,i.fa-blog{ 
        display:inline-block;
    }

    .nav-menu{
        width:50%;
        position:fixed;
        background-color: rgba(49, 49, 49, 0.9);
        display:flex;
        flex-direction:column;
        top:60px;
        right:0;
        overflow-y: hidden;
        text-align: center;
        padding:20px;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        transition:500ms all;
        
     
        
    }

    .nav-menu-visible{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        z-index:1;
    }
}


/* Secciones del contenido principal*/

/* Section1 1*/

.section-1 h1{
    color:#fff;
    margin:15px;
    margin-top:60px;
    text-align: center;
    animation: centrar 3s;
    
}

@keyframes centrar {
    0%{transform: translateX(100%);}
    100%{transform: translateX(0%);}
}




